@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}
*,
:after,
:before {
    box-sizing: border-box;
    flex-shrink: 0;
}
:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4;
}
html,
body {
    height: 100%;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
button {
    background: none;
    border: 0;
    cursor: pointer;
}
a {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    list-style: none;
}
img {
    min-width: 100%;
    display: block;
}

body {
    font-family: "Nanum Pen Script", cursive;
}

/* main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    font-size: 36px;
} */

main {
    background-color: #a6ae24;
    margin: 0 auto; /* auto 알아서 중앙으로 맞춰줌 */
    border-bottom: 1px solid #000000;
    padding: 20px 0 20px 0;
    width: 80%;
    height: 150px;
}

.left-nav {
    margin-right: auto;
}

.right-nav {
    margin-left: auto;
}
